@model IEnumerable<ContractManager3.Models.ContractHour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContractDetail.PriceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Prop_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weekday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursUpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeeklyHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgMonthlyHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContractDetail.PriceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Prop_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weekday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursUpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeeklyHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgMonthlyHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Transaction_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Transaction_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Transaction_ID })
        </td>
    </tr>
}

</table>
